// blog

#culators-blog {
    margin-left: 450px;
    margin-bottom: 200px;
}

@media(max-width:1200px) {
    #culators-blog {
        margin-left: 300px;
        margin-bottom: 180px;
    }
}

@media(max-width: 800px) {
    #culators-blog {
        margin-left: 180px;
    }
}

@media(max-width: 680px) {
    #culators-blog {
        margin-left: 100px;
    }
}

@media(max-width: 680px) {
    #culators-blog {
        margin-left: 2%;
        margin-bottom: 80px;
    }
}

.blog-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

@media(max-width:900px) {
    .blog-top {
        margin-bottom: 50px;
    }
}

@media(max-width:560px) {
    .blog-top {
        margin-bottom: 0;
    }
}

.blog-title {
    h2 {
        font-size: 48px;
        // font-weight: normal;
    }

    p {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }
}

@media(max-width:960px) {
    .blog-title {
        h2 {
            font-size: 40px;
        }

        p {
            font-size: 16px;
            font-weight: normal;
        }
    }
}

@media(max-width:550px) {
    .blog-title {
        h2 {
            font-size: 24px;
        }

        p {
            font-size: 10px;
        }
    }
}

.blog-btn {
    margin-right: 100px;
    display: flex;
    height: 40px;
    margin-top: 65px;

    p {
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        margin-top: 4px;
        margin-right: 15px;
    }

    img {
        width: 40px;
    }

    &:hover {
        opacity: 0.7;
    }
}

@media(max-width:1200px) {
    .blog-btn {
        // margin-top: 50px;
        margin-right: 60px;
    }
}

@media(max-width: 960px) {
    .blog-btn {
        // margin-top: 50px;
        margin-right: 60px;
        height: 30px;

        p {
            font-size: 14px;
            // font-weight: normal;
            margin-right: 8px;
        }

        img {
            width: 30px;
        }
    }
}

@media(max-width: 680px) {
    .blog-btn {
        margin-right: 30px;
    }
}

@media(max-width: 680px) {
    .blog-btn {
        margin-bottom: 30px;

        p {
            font-weight: normal;
        }
    }
}

@media(max-width: 380px) {
    .blog-btn {
        margin-right: 10px;

        p {
            font-size: 10px;
            margin-right: 4px;
        }

        img {
            width: 20px;
            height: 20px;
            margin-top: 3px;
        }
    }
}

.blog-list {
    display: flex;
    gap: 40px;
    height: 260px;
    overflow-x: scroll;

    // justify-content: space-between;
    &::-webkit-scrollbar {
        height: 10px;
        width: 200px;
    }

    &::-webkit-scrollbar-track {
        background: #CCFAFF;
    }

    &::-webkit-scrollbar-thumb {
        background: #30DEF2;
        border-radius: 20px;
    }
}

.list-item {
    flex-grow: 1;
    min-width: 400px;
    height: 200px;
    border-radius: 80px 20px 20px 20px;
    position: relative;
    // border: 1px solid;

    &:hover {
        opacity: 0.7;
    }

    p {
        font-size: 20px;
        margin-top: 10px;
        margin-left: 5px;
    }
}

@media(max-width: 900px) {
    .list-item {
        min-width: 300px;
        height: 180px;
    }
}

@media(max-width: 600px) {
    .list-item {
        min-width: 200px;
        height: 160px;

        p {
            font-size: 14px;
        }
    }
}

.blog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 80px 20px 20px 20px;
}

@media(max-width: 900px) {
    .blog-image {
        height: 180px;
    }
}

@media(max-width: 600px) {
    .blog-image {
        height: 160px;
    }
}

.blog-arrow {
    width: 50px;
    border-radius: 20px 0 0 0;
    position: absolute;
    bottom: -5px;
    right: -5px;
}