// pickup

.pickup-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

@media(max-width:960px) {
    .pickup-items {
        display: block;
    }
}

.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 68px;
    // border: 1px solid;
}

@media(max-width:960px) {
    .items {
        display: flex;
        gap: 40px;
        overflow-x: scroll;
        margin-left: 45px;

        &::-webkit-scrollbar {
            height: 10px;
        }

        &::-webkit-scrollbar-track {
            background: #CCFAFF;
        }

        &::-webkit-scrollbar-thumb {
            background: #30DEF2;
            border-radius: 20px;
        }
    }
}

.item1 {
    width: 275px;
    height: 345px;
    background: #7BB6F9;
    border-radius: 20px;
    overflow: hidden;
    // border: 1px solid;

    img {
        height: 75%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        transition: all 0.6s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    p {
        font-size: 14px;
        text-align: start;
        padding-inline: 4%;
        padding-top: 25px;
        color: #000000;
    }
}

@media(max-width:480px) {
    .item1 {
        p {
            font-size: 12px;
            padding-top: 22px;
        }
    }
}

@media(max-width:360px) {
    .item1 {
        p {
            font-size: 10px;
            padding-top: 20px;
        }
    }
}

.item2 {
    width: 275px;
    height: 345px;
    background: #F9FF55;
    border-radius: 20px;
    overflow: hidden;
    // border: 1px solid;

    img {
        height: 75%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        transition: all 0.6s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    p {
        font-size: 14px;
        text-align: start;
        padding-top: 25px;
        padding-inline: 4%;
        color: #000000;
    }
}

@media(max-width:480px) {
    .item2 {
        p {
            font-size: 12px;
            padding-top: 22px;
        }
    }
}

@media(max-width:360px) {
    .item2 {
        p {
            font-size: 10px;
            padding-top: 20px;
        }
    }
}

.item3 {
    width: 275px;
    height: 345px;
    background: #F97BA3;
    border-radius: 20px;
    overflow: hidden;
    // border: 1px solid;

    img {
        width: 100%;
        height: 75%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        transition: all 0.6s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    p {
        font-size: 14px;
        text-align: start;
        padding-top: 25px;
        padding-inline: 4%;
        color: #000000;
    }
}

@media(max-width:480px) {
    .item3 {
        p {
            font-size: 12px;
            padding-top: 22px;
        }
    }
}

@media(max-width:360px) {
    .item3 {
        p {
            font-size: 10px;
            padding-top: 20px;
        }
    }
}

.item4 {
    width: 275px;
    height: 345px;
    background: #33C54E;
    border-radius: 20px;
    overflow: hidden;
    // border: 1px solid;

    img {
        width: 100%;
        height: 75%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        transition: all 0.6s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    p {
        font-size: 14px;
        text-align: start;
        padding-top: 25px;
        padding-inline: 4%;
        color: #000000;
    }
}

@media(max-width:480px) {
    .item4 {
        p {
            font-size: 12px;
            padding-top: 22px;
        }
    }
}

@media(max-width:360px) {
    .item4 {
        p {
            font-size: 10px;
            padding-top: 20px;
        }
    }
}

@media(max-width:960px) {
    .item1 {
        flex-grow: 1;
        min-width: 275px;
    }

    .item2 {
        flex-grow: 1;
        min-width: 275px;
    }

    .item3 {
        flex-grow: 1;
        min-width: 275px;
    }

    .item4 {
        flex-grow: 1;
        min-width: 275px;
    }
}

@media(max-width:480px) {
    .item1 {
        min-width: 210px;
        height: 315px;
    }

    .item2 {
        min-width: 210px;
        height: 315px;
    }

    .item3 {
        min-width: 210px;
        height: 315px;
    }

    .item4 {
        min-width: 210px;
        height: 315px;
    }
}

@media(max-width:360px) {
    .item1 {
        min-width: 180px;
        height: 280px;

        p {
            padding-top: 20px;
        }
    }

    .item2 {
        min-width: 180px;
        height: 280px;

        p {
            padding-top: 20px;
        }
    }

    .item3 {
        min-width: 180px;
        height: 280px;

        p {
            padding-top: 20px;
        }
    }

    .item4 {
        min-width: 180px;
        height: 280px;

        p {
            padding-top: 20px;
        }
    }
}

.pickup-title {
    font-size: 80px;
    font-weight: normal;
    margin-left: 35px;
    // border: 1px solid;
    position: relative;

    &::before {
        content: "今、イチオシ！";
        font-size: 20px;
        position: absolute;
        top: -30px;
        left: 8px;
    }
}

@media(max-width:960px) {
    .pickup-title {
        display: flex;
        margin-bottom: 80px;
    }
}

.pick span {
    color: #FF5557;
}

.up {
    letter-spacing: 70px;
}

@media(max-width:960px) {
    .up {
        letter-spacing: 0px;
        margin-left: 15px;
    }
}

.orange-btn1 {
    width: 256px;
    border: 3px solid #FAB14C;
    background: #FAB14C;
    border-radius: 40px;
    align-items: center;
    margin-top: 20px;
    position: relative;
    transition: 0.3s ease;

    &:hover {
        background: #FFFFFF;
    }

    a {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;

        &:hover {
            color: #FAB14C;
        }
    }
}

@media(max-width:960px) {
    .orange-btn1 {
        display: none;
    }
}

.orange-btn-text {
    display: block;
    text-align: center;
    padding-block: 10px;
}

.arrow-p {
    position: absolute;
    top: 10px;
    right: 15px;

    &:hover {
        color: #FAB14C;
    }
}